/* Reset Browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

/* CSS Global */
.container {
  max-width: 1260px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  /* width: calc(100% / 5); */
  padding-left: 15px;
  padding-right: 15px;
}

.column-1 {
  width: 100%;
}
.column-2 {
  width: calc(100% / 2)
}
.column-3 {
  width: calc(100% / 3)
}
.column-4 {
  width: calc(100% / 4)
}
.column-5 {
  width: calc(100% / 5)
}
.column-6 {
  width: calc(100% / 6)
}

/* Header Top./Start */
.header-top {
  width: 100%;
  background-color: #f65d4e;

  height: 66px;
}

.header-top-wrap {
  display: flex;
}

.logo {
  width: 25%;
  height: 66px;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  /* Bo mac dinh gach chan the a */
}

.logo a h1 {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  /* Viet hoa chu */
}

.search-main {
  width: 45%;
  height: 66px;
  display: flex;
  align-items: center;
}

.search-main input {
  height: 46px;
  border: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 100%;
  padding: 0 20px;
  outline: none;
  /* remove border input when click */
}

/* .search-main input:focus {
  outline: none;
} */
.search-main button {
  height: 46px;
  border: none;
  width: 60px;
  background-color: #cf3424;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.search-main button i {
  color: #fff;
  font-size: 16px;
}

.info-user {
  width: calc(100% - (25% + 45%));
  height: 66px;
  display: flex;
  justify-content: space-between;
  /* background-color: violet; */
}

.info-user .book-map {
  height: 66px;
  display: flex;
  align-items: center;
  /* can giua theo column */
  justify-content: center;
  /* can giua theo row*/
  text-decoration: none;
  width: 60%;
}

.info-user .book-map i {
  color: #fff;
  margin-right: 8px;
}

.info-user .book-map p {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}

.icon-user {
  display: flex;
  height: 66px;
  align-items: center;
}

.icon-user li {
  list-style: none;
  /* remove dau cham mac dinh ul li */
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #fff;
  position: relative;
}

.icon-user li:first-child {
  /* :first-child ->  chon PT con dau tien*/
  border-left: none;
}

.icon-user li i {
  color: #fff;
  font-size: 18px;
}

.icon-user li span {
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  top: -12px;
  right: -12px;
}

/* Menu Main */
.menu-main {
  width: 100%;
  height: 64px;
  /* background-color: pink; */
}
.menu-main ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
.menu-main ul li {
  list-style: none;
  padding: 20px 25px;
  position: relative;  /* ==== */
}
.menu-main ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
}
.menu-main ul li a i {
  font-size: 12px;
}
.menu-main ul .active a {
  color: #cf3424;
}

/* submenu c1 */
.submenu-c1 {
  position: absolute; /* xxxx */
  top: 100%;
  z-index: 999999999;
  background-color: #fff;
  border: 1px solid #ddd;
}
.menu-main .submenu-c1 {
  /* display: block; */
  display: none;
  height: auto;
  width: 200px;
}
.menu-main .submenu-c1 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* #### */
}

.menu-main ul li:hover .submenu-c1 {
  display: block;
}


/* submenu c2 */
.menu-main .submenu-c2 {
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff;
  /* display: block; */
  display: none;
  height: auto;
  width: 200px;
}
.menu-main .submenu-c1 li:hover .submenu-c2 {
  display: block;
}





/* Banner */
/* .owl-dots {
  position: relative;
  top: -50px;
} */

/* Service  */
.service {
  width: 100%;

  /* height: 400px; */
  background-color: pink;
}

/* .service .container {
  height: 200px;
  background-color: violet;
} */

.content {
  width: 100%;
  height: 300px;
  background-color: blue;
  margin-bottom: 30px;
}



.footer {
  width: 100%;
  height: 400px;
  background-color: #000;
}

.icon-mobile {
  display: none;
}

/* -> code phia tren danh cho man hinh lon -> TV, May chieu, PC, DESKTOP MAN HINH LON */

/* Responsive - labtop */
@media screen and (max-width: 1140px){

}

/* Responsive - tablet */
@media screen and (max-width: 768px){
  .icon-mobile {
    display: block;
  }
  .search-main, .info-user .book-map {
    display: none;
  }
  .header-top-wrap {
    justify-content: space-between;
    align-items: center;
  }
}

/* Responsive - mobile */
@media screen and (max-width: 420px){

}